body{
  border-radius: 600px;
  margin: auto;
  background-color: black;
  width: auto;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, Arial, sans-serif;
}
div#content{
  border-radius: 600px;

}
div#portrait{
  border-radius: 600px;
  margin: auto;
  background-color: grey;
  width: 2000px;
  height: 100px;
  padding-right: 600px;
  text-align: center;
}
div#problems{
  border-radius: 600px;
  margin: auto;
  background-color: red;
  width: 2000px;
  height: 100px;
  text-align: center;
}
div#results{
  border-radius: 600px;
  margin: auto;
  background-color: green;
  width: 2000px;
  height: 100px;
  text-align: center;
}
